* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: none !important;
}
html {
    height: 100%;
}

.image-container{
    height: 600px;
    background-image: url("images/ridiculous.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.dining {
    height: 500px;
    width: 1200px;
    padding-top: 50px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
}
.info {
    float: left;
    padding-left: 40px;
    width: 55%;
}
.info > h1 {
    margin-bottom: 60px;
}
.info > ul {
    list-style-type: none;
    color: grey;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info > ul > li {
    margin-left: 20px;
}
.subnote {
    color: grey;
    width: fit-content;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 10px;
}
.dining-image {
    float: left;
    width: 40%;
    /* margin-top: 100px; */
}
.dining-image > img {
    max-width: 100%;
}
