* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url("images/ridiculous.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.3em;
}

.nav-item {
  font-family: 'Lobster', cursive;
  font-size: 1.4em;
}

.footer {
  display: flex;
  margin-top: auto;
  height: 100px;
  background-color: #f8fbf7;
  font-family: 'Lobster', cursive;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.homestuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.welcome {
  background: white;
  width: 25%;
  padding: 40px;
  font-family: 'Lobster', cursive;
}
